<!DOCTYPE html>
<html lang="en">
<head>
    <title>View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="icon" href="{{ url_for('static',filename='favicon.png') }}">
    <style type="text/css">
        body {
            background: black !important;
        }

        img {
            max-height: 100% !important;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ECE1780 Image Prediction</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <button class="btn btn-primary navbar-btn" onclick="window.history.back()">Back</button>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span> {{ user_name }} </a></li>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log out </a></li>
            </ul>
        </div>
    </div>
</nav>


<div id='photos' class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail" style="background:black">
                <img src="{{ image_url }}" style="width: 100%">
            </div>
        </div>
        <div class="col-md-4">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="myChart2"></canvas>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr class="danger">
                    <th>Prediction</th>
                    <th>Probability</th>
                </tr>
                </thead>
                <tbody>
                <tr class="warning">
                    <td>{{ predict[0][1] }}</td>
                    <td>{{ predict[0][2] }}</td>
                </tr>
                <tr class="success">
                    <td>{{ predict[1][1] }}</td>
                    <td>{{ predict[1][2] }}</td>
                </tr>
                <tr class="success">
                    <td>{{ predict[2][1] }}</td>
                    <td>{{ predict[2][2] }}</td>
                </tr>
                <tr class="success">
                    <td>{{ predict[3][1] }}</td>
                    <td>{{ predict[3][2] }}</td>
                </tr>
                <tr class="success">
                    <td>{{ predict[4][1] }}</td>
                    <td>{{ predict[4][2] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                "{{ predict[0][1] }}",
                "{{ predict[1][1] }}",
                "{{ predict[2][1] }}",
                "{{ predict[3][1] }}",
                "{{ predict[4][1] }}"
            ],
            datasets: [
                {
                    data: [
                        {{ predict[0][2] }},
                        {{ predict[1][2] }},
                        {{ predict[2][2] }},
                        {{ predict[3][2] }},
                        {{ predict[4][2] }}
                    ],
                    backgroundColor: [
                        "#f1c40f",
                        "#2ecc71",
                        "#3498db",
                        "#34495e",
                        "#95a5a6"
                    ],
                    borderWidth: [
                        0,
                        0,
                        0,
                        0,
                        0
                    ],
                    hoverBorderWidth: [
                        1,
                        1,
                        1,
                        1,
                        1
                    ]
                }]
        },
        options: {
            legend: {
                position: 'top'
            },
            animation: {
                animateScale: true
            }
        }
    });
    var ctx2 = document.getElementById("myChart2");
    var myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: [
                "{{ predict[0][1] }}",
                "{{ predict[1][1] }}",
                "{{ predict[2][1] }}",
                "{{ predict[3][1] }}",
                "{{ predict[4][1] }}"
            ],
            datasets: [
                {
                    data: [
                        {{ predict[0][2] }},
                        {{ predict[1][2] }},
                        {{ predict[2][2] }},
                        {{ predict[3][2] }},
                        {{ predict[4][2] }}
                    ],
                    backgroundColor: [
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            legend: {
                display: false
            }
        }
    });
</script>
</body>
</html>